*{
    margin: 0;
    padding: 0;
}

.parent{
    border: 20px solid black;
    width:100%;
    height: 700px;

    background-image: url(https://images.unsplash.com/photo-1582002061204-977683fd8591?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: end;
    perspective: 800px;

   
}

.car{
    height: 300px;
    width: 400px;
    background-image: url(car1.png); 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    animation: move 5s infinite linear;
   
    animation-direction:normal;

}

@keyframes move {
    0% {
        transform: translateZ(0px) 
    }
   
    100% {
        transform:  translateZ(-20000px)  
    }
}
