.parent{
    border: 2px solid black;
    display: grid;
    /* grid-template-columns: 200px 200px 200px;
     grid-template-rows: 200px 200px 200px; */

     grid-template-columns: repeat(5,auto);
     grid-template-rows: repeat(5,200px);
     grid-auto-rows: 100px;
}


.child{
    border: 2px solid rgb(248,26,26);
}
/* .b1{
    grid-column-start: 1;
    grid-column-end: 4;
} */


.b10{
    grid-row-start: 3;
    grid-row-end: 5;
}

.nav{
    margin-left: 30px;
    margin-top: 30px;
    border: 2px solid black;
    background-color: black;
    color: white;
    padding: 12px;


    display: grid;
    grid-template-columns: repeat(3,auto);
    justify-content: space-around;
}
a{
    color: white;
    text-decoration: none;
}
.anchor{
    display: grid;
    grid-template-columns: repeat(3,auto);
    gap: 10px;
}
.btn{
    width: 80px;
    border-radius: 30px;
    background-color: aqua;
    text-align: center;
    padding: 4px;
}