
*{
    margin: 0;
    padding: 0;
    

}
.bakery{
    border: 2px solid black;
    background-color:black;
    display: flex;
    height: 50px;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    color: white;
    font-weight: bold;

    
}
.nav {
    
    display: flex;
    gap: 8px;

   
}
a{
    text-decoration: none;
    color: white;
}

.contact{
    background-color: aqua;
    padding: 4px;
    width: 80px;
    border-radius: 40px;
    text-align: center;
}


.parent{
    margin-top: 100px;
    border: 2px solid black;
    height: 50px;
    background-color: black;
    display: flex;
    justify-content: space-around;
    font-weight: bold;
    align-items: center;


}
.contact1{
    color: white;
}



.logo{
    color: white;
}


.first{
    display: flex;
    gap: 20px;
    color: white;
}






.cafe{
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    background-color: rgb(83, 60, 29);
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 8px;
    flex-direction: column;
    gap: 20px;
}
.ramen{
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
   
    
    
}
img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.laran{
    display: flex;
    align-items: center;
    gap: 20px;

    
}

.food {
    display: flex;
    flex-wrap: wrap;
    
    align-items: center;      
    justify-content: center;
    gap: 10px;               
    padding: 20px;
    width: 150px; 
    height: 250px;            
    background-color: white;
    color: black;
    border-radius: 30px;

}

.food-row{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   align-items: center;
   margin-left: 300px;
   
    
    
    gap: 30px;
    width: 720px;
}

.btn{
    width: 80px;
    padding: 2px;
    background-color: #e36105;

}



.shino1{
    font-weight: bold;
    font-size: 25px;
}
.shino2{
    font-size: 15px;
    text-align: center;
}

.shino{
    height: 90px;
    width: 90px;
    border-radius: 50%;
 
   
}

.dolar{
    width: 100px;
    background-color: rgb(245, 166, 8);
    color: white;
    font-weight: bold;
    padding: 2px;
    text-align: center;
    border-radius: 40px;
}


.beverage{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 250px;
    margin-right: 250px;
    gap: 10px;
    
}
.title{
    font-size: 35px;
    font-family: bold;
}


.drink{
    background-color: white;
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-around;
    border-radius: 40px;
    



}
.lemon{
    color: black;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;

}
.lemon2{
    font-size: 15px;

}



