*{
    padding: 0;
    margin: 0;
}

.parent{
    /* height: 200px; */
    width: 100vw;
    height: 100vh;
    border: 2px solid black;
    font-size: 20px;
    
}

.child{
     /* height: 20%; */
     height: 50vh;
    width: 50vw;
    border: 2px solid black;
    /* font-size: 2em; */

    font-size: 2rem;
    background-color: rgb(23,45,66,1);
    
}