*{
    padding: 0;
    margin: 0;
}
.head{
    color: brown;
}
.box{
    border: 2px solid black;
    height: 200px;
    width: 500px;
    color: red;
    padding: 2rem;
    
    /* text-align: center; */
    text-align: justify;
    /* text-decoration: underline; */
    /* text-decoration: line-through; */
    /* text-decoration: 2px dashed line-through green; */
    /* text-transform: uppercase; */
    /* text-shadow: 10px 10px 1px red; */

    font-size: 4rem;
    font-weight: bold;
    /* font-family: Arial, Helvetica, sans-serif; */
     font-family: "Barriecito", system-ui;


    
    



}
